.about{
    padding: 100px var(--side-padding);
    background-color: var(--main-color);
    color: white;
}
.about h1::before{
    background-color: var(--second-color) !important;
}
.about h1::after{
 border: var(--second-color);
}
.about > div{
    line-height: 1.5;
    font-size: 18px;
}
.about .about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
}

/* Media queries for tablet */
@media (max-width: 760px) {
    .about {
      padding: 80px var(--side-padding);
    }
  
    .about .about-grid {
      grid-template-columns: 1fr;
    }
  }
  
  /* Media queries for phone */
  @media (max-width: 480px) {
    .about {
      padding: 60px var(--side-padding);
    }
  
    .about > div {
      font-size: 16px;
    }
  
    .about .about-grid {
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin-top: 30px;
    }
  }