.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px var(--side-padding);
  background-color: var(--main-color);
  border-top: 1px solid #e5e5e5;
  color: white;
}
.footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .logo img{
  width:300px;
}
.footer ul {
  list-style: none;
  padding-left:0;
 text-align: left;
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.footer ul a {
  text-decoration: none;
  color: var(--second-color);
  transition: 0.3s;
  font-size: 18px;
}
.footer h2 {
text-align: left;
text-transform: uppercase;
color: var(--second-color);
}

  .legal {
 text-align: center;
 background-color: var(--second-color);
 padding: 10px 50px;
  }


/* Media queries for tablet */
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
    align-items: center;
  }
  .footer .logo img{
    width:200px;
    display: block;
    margin: 0px auto;
  }
  .footer .logo {
    justify-content: center;
  }
  .footer h2 {
    text-align: center;
    }
  .footer ul {
    text-align: center;
  }
}
