.main-card {
  text-align: start;
  transition: 0.3s;
  margin-bottom: 30px;
}
.main-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
  background-color: #f7f7f7;
}
.main-card .image {
  overflow: hidden;
}
.main-card:hover img {
  transform: scale(1.2) rotate(1deg);
  max-height: 230px;
}
.main-card img {
  width: 100%;
  transition: 0.3s;
}
.main-card .content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.main-card .content h4{
  margin: 0;
  margin-bottom: 10px;
}
.main-card .content h4:first-of-type{
  color: var(--second-color);
}
.main-card .content h2 {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.main-card .content p{
    font-size: 17px;
}
.main-card .content .location,
.light-text {
  color: var(--gray-color);
  font-size: 15px;
}
.main-card .card-button {
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--second-color);
  width: max-content;
  cursor: pointer;
  transition: 0.3s;
}
.main-card .card-button:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}
.rating {
  margin: 0px;
}
.rating div span {
  font-size: 28px !important;
}
